li a {
    color: green;
}

/*body {
    background: white url("images/background.gif") no-repeat;
}
*/

h3{
    color:silver;
}

a {
    color: blue;
}

ul {
    color:purple;
}

li {
    color:orange;
}